.footer__container {
  display: flex;
  padding-block: 30px;
  gap: 30px;


}

@media (width > 576px) {
  .footer {
    border-top: 1px solid var(--main-color);
  }

  .footer__container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }
}


@media (width <=576px) {

  .footer__container {
    flex-direction: column;
    border-top: 1px solid var(--main-color);

  }

  .footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

  }

}

.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .footer__phone:hover {
    color: var(--accent-color);
  }
}