html {
  font-family: Ubuntu;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
}

.container{
  max-width: 1250px;
  height: auto;
  padding: 0px 15px;
  margin: 0 auto;
}

.article{
  padding-top: 80px;
  margin-bottom: 17px;
}

.article-title{
  font-family: Oswald;
  font-weight: 600px;
  max-width: 596px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2C332F;
  margin-bottom: 40px;
}
.article-title-large{
  font-size: 62px;

}
.article-title-medium{
font-size: 36px;
}
.article-text{
  font-family: Ubuntu;
  font-weight: normal;
  color: #535755;
  line-height: 130%;
  margin-bottom: 20px;

}

.article-bottom {
margin-bottom: 80px;
}

.article-img{
  width: 100%;
}

.article-list{
  margin-top: 0;
  padding-left: 15px;
}
.article-video{
  width: 100%;
  margin-bottom: 40px;

}
.article-item{
  margin-bottom: 12px ;
}

.article-video{
  width: 100%;
  margin-bottom: 40px;

}
