.article {
  padding-top: 80px;
  margin-bottom: 120px;
}



.article-title-medium {
  font-size: 36px;
}

.article-text {
  font-family: Ubuntu;
  font-weight: normal;
  color: #535755;
  line-height: 130%;
  margin-bottom: 20px;

}

.article-bottom {
  margin-bottom: 80px;
}

.article-wrapper-decor {
  position: relative;
}



.article-wrapper-decor-1::before {
  width: 50%;
  top: 100px;
  left: 0;
}

.article-wrapper-decor-2::before {
  width: 50%;
  top: 136px;
  right: 0;
}


.article-img {
  width: 100%;
}

.article-list {
  list-style: none;
  padding-left: 0;

}

.article-video {
  width: 100%;
  margin-bottom: 40px;

}

.article-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.article-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3596ED;
  margin-right: 8px;
}

.article-video {
  width: 100%;
  margin-bottom: 40px;

}

.article-media-section .container {
  position: relative;
}

.article-play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3596ED;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

} 

.article-play-button:hover {
  background-color: #39a3ff;
}

.article-play-button:not(:disabled):active {
  background-color: #2d83cf;
}

/* ================media============== *//* ================media============== *//* ================media============== */
/* ================media============== *//* ================media============== *//* ================media============== */


@media(width <= 768px){
  .article-title-medium {
    font-size: 32px;
  }

  .article-bottom{
    margin-bottom: 60px;
  }

.article-wrapper-decor{
  display: none;
}
}

@media(width <=576px){
  .article {
  padding-top: 60px;
  margin-bottom: 80px;
  
}

.article-title-medium {
  font-size: 32px;
}

.article-bottom{
    margin-bottom: 40px;
  }

  .article-play-button{
    width: 50px;
    height: 50px;
  }

  .article-play-button img{
    width: 18px;
    height: 18px;
  }
}

