* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 15px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 15px;
}

.header {
  background-color: red;
  grid-column: 1/12 span;
}

.aside {
  background-color: yellow;
  grid-column: 1/2 span;
}

.main {
  background-color: green;
  grid-column: 3/12 span;
  padding: 30px 0 ;
}


.article {
  background-color: chocolate;
  min-height: 400px;

}

.footer {
  background-color: blue;
  grid-column: 1/12 span;
  
}



.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 200px;
  min-height: 100vh;
}

/* =========================================================================== */

@media(width<= 1200px){
  .aside{
    grid-column: 1/3 span;
  }

  .main {
  grid-column: 4/12 span;
}
}

@media(width<=768px){
  .aside{
    display: none;
  }
  .main {
  grid-column: 1/12 span;
}
}