@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/Montserrat-Bold.ttf") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/Montserrat-Medium.ttf") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url('../fonts/Montserrat-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

