body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #181E34;
}


.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* =============================================================================== */


.header {
  padding: 30px 0 36px;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 34px;

}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-button {
  width: 113px;
  height: 48px;
  background-color: #fff;
  color: #2766AE;
  font-weight: 500;
  text-align: center;
  padding: 14px 30px;
  border-radius: 100px;
}

/* ==================================================================== */

.hero-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;

}

.hero-text {
  max-width: 436px;
}




.hero {
  background: url(../images/Rectangle2.jpg) 20% 50% / cover no-repeat;
  padding: 120px 0;

}

.paragraph {
  margin-bottom: 15px;
}

.paragraph span {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #01a2cb;
}

.hero-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.hero-button-one,
.hero-button-two {
  width: 320px;
  height: 56px;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
  border-radius: 100px;
  padding: 18px 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-button-one {
  margin-bottom: 10px;
}

.hero-button-two img {
  margin-left: 4px;
}

/* =============================================================== */

.cards{
  padding:120px 0;
}

.cards-title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px
}

.cards-text {
  margin: 0 auto 60px;
  max-width: 513px;
}

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 30px;
}

.cards-flex-item {
  border: 2px solid #176bae;
  border-radius: 16px;
  padding: 28px;
  max-width: 204px;
  box-shadow: 4px 4px 13px 0 #050d29c2;
  background: #197cb8;
}

.cards-flex-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.cards-flex-text {
  text-align: center;
}


.cards-button {
  margin: 0 auto;
  width: 436px;
  height: 56px;
}

/* ====================================================================== */

.footer{
  border-top: 1px solid #323952;
  padding: 60px 0;
}

.footer-inner{
  display: flex;
}

.footer-desc{
max-width: 267px;
margin-right: 197px;
}
.footer-desc img{
  margin-bottom: 15px;
}

.footer-col{
  width: 100%;
}
.footer-col-mr{
  margin-right: 28px;
}
.footer-title{
font-weight: 600;
font-size: 22px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-item{
  margin-bottom: 10px;
}

