

.article{
  padding-top: 80px;
  margin-bottom: 120px;
}


.article-title-large{
  font-size: 48px;

}
.article-title-medium{
font-size: 36px;
}
.article-text{
  font-family: Ubuntu;
  font-weight: normal;
  color: #535755;
  line-height: 130%;
  margin-bottom: 20px;

}

.article-bottom {
margin-bottom: 80px;
}
.article-wrapper-decor{
  position: relative;
  width: 100%;
  max-height: 512px;
}
.article-wrapper-decor::before{
  content: "";
  background: url(../images/decor.svg);
  width: 528px;
  height: 48px;
  position: absolute;
  
  z-index: -1;
}

.article-wrapper-decor-1::before{
top: 100px;
  left: -350px;
}

.article-wrapper-decor-2::before{
bottom: 136px;
  right: -350px;
}
.article-wrapper-decor-2{
  margin-bottom: 40px;
}

.article-img{
  width: 100%;
}

.article-list{
  list-style: none;
  padding-left: 0;
  
}
.article-video{
  width: 100%;
  margin-bottom: 40px;

}
.article-item{
  margin-bottom: 12px ;
  display: flex;
align-items: center;
}
.article-item::before{
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3596ED;
margin-right: 8px;
}
.article-video{
  width: 100%;
  margin-bottom: 40px;

}

.article-play-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3596ED;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

