/* ========hero=====================================hero===================================hero========================================= */
.hero{
  padding-top: 80px;
}

.hero-container {
  display: flex;
  gap: 28px;
  justify-content: center;
}


.hero-content h1 {
  font-size: 62px;
}

.hero-content strong {
  color: #3596ED;
}

.hero-content .text {
  margin-bottom: 159px;
  padding-right: 53px;
}

.hero-content-button {
  padding: 19px 32px;
  background: #3596ED;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px #535755;
  cursor: pointer;
  transition: opacity 0.2s;
}

.hero-content-button:hover {
  opacity: 0.75;
}

.hero-content-button:active {
  box-shadow: 2px 2px inset #535755;

}

.hero-media {
  display: flex;
  justify-content: center;
}
.hero a{
  transition: transform 0.3s, border-radius 0.3s;
  overflow: hidden;
  

}
.hero a:hover{
  transform: scale(1.06);
  border-radius: 10px;
}

.hero-media-label {
  text-align: center;
  border: 1px solid;
  padding: 22px;
  max-width: 160px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  margin-top: 40px;
}

.hero::after{
  content: "";
  background: url(../images/decor-large.svg) repeat-x;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 48px;
  bottom: 106px;
  top: 544px;
}


/* =======news=======================================news========================================news=========================== */


.news-section h2 {
  font-size: 48px;

}

.news-list {
  display: flex;
  gap: 28px;
}

.news-list-card {
  border: 1px solid #D3CBD9;
  overflow: hidden;
  max-width: 284px;
  display: flex;
  flex-direction: column;
}

.news-list-card-info {
  padding: 20px 20px 0;
}

.news-list-card-date {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858E8A;
  margin-bottom: 8px;
}

.news-list-card .text {
  margin: 8px 0 12px;
}

.news-list-card footer{
  padding: 0 20px 20px;
  margin-top: auto;
}
.news-list-card-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ED;
}

.news-list-card-link::after{
display: inline-block;
content: "";
width: 22px;
height: 9px;
background: url(../images/arrow.svg);
transition: transform 0.2s;
}

.news-list-card-link:hover:after{
  transform: translateX(5px);
}

