* {
  font-size: 40px;
  font-family: sans-serif;
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
td,
th {
  border: 1px solid #000;
  padding: 8px;
}

caption {
  font-weight: 900;
  border-bottom: 0px;
}

.weekend {
  color: red;
}