.block-1{
  color: aliceblue;
  background-color: #3d2613;
}
.text-1{
  color: #a77cc3;
}

.text-2{
color:  aliceblue;
background-color: #681362;
}


.block-1-1{
  background-color: #c82c2c;
  width: 100px;
  height: 100px;
}

.block-2{
  background-color: #a77cc3;
width: 300px;
}
.block-3{
  background-color: #781462;
}