html {
  font-family: Ubuntu;
  font-weight: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
}
button{
border: none;
background-color: transparent;
padding: 0;

}

  a {
  text-decoration: none; 
  color: inherit; 
  font-weight: normal; 
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

ul, ol {
  list-style: none; 
  padding-left: 0; 
  margin-left: 0;
}



.container{
  max-width: 1250px;
  height: auto;
  padding: 0px 15px;
  margin: 0 auto;
}