* {
  box-sizing: border-box;
}

.content {
  background-color: antiquewhite;
  font-size: 25px;
  overflow: auto;
  height: 800px;
  border-radius: 30px 0 0 30px;
  border: 2px solid #000000;
}

.block1 {
  background-color: rgb(58, 116, 224);
  width: 400px;
  height: 300px;
  padding: 30px 45px;
  margin: 10px 5px;
  border-radius: 30px;
  display: inline-block;
  box-shadow: inset 1px 1px 15px #2c2929;
}