* {
  box-sizing: border-box;
}

.content {
  background-color: antiquewhite;
  font-size: 20px;
  overflow: auto;
  height: 600px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #000000;

}

.block1 {
  background-color: rgb(58, 116, 224);
  width: 300px;
  height: 220px;
  padding: 20px 25px;
  margin: 10px 5px;
  border-radius: 30px;
  display: inline-block;
  box-shadow: inset 1px 1px 15px #2c2929;
}