.text1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings: "wdth"100;
  line-height: 30px;
}


.text2 {
  text-decoration: line-through;

}
.text3{
text-align: center;
font-size: 30px;
text-transform: uppercase;

}


.text4 {
  font-size: 20px;
  word-spacing: 30px;
  text-decoration: underline rgb(46, 86, 228) ;
  text-decoration-style: wavy;

}

.text5{
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration-style: double;
}


.text6{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: oblique;
}
