.footer {
  margin-top: auto;
  background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
  padding: 60px 0 40px;
  text-align: center;
}

.footer__top {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: solid 1px #D3CBD9;
}

.footer__logo {
  margin: 0 auto 40px;
}

.footer__list {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;

}

.footer__item {
  line-height: 130%;
  color: #535755;
}

.footer__item a:hover{
  transition: color 0.3s;
  color: #3596ED;
}

.copy {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858E8A;
}

/* =============media============= *//* =============media============= *//* =============media============= */

@media (width <= 768px){
.footer__list{
  flex-direction: column;
  gap: 30px;
}
}

@media (width <=576px){
  .footer{
padding-top: 40px;
  }
}