.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  border-bottom: 1px solid #D3CBD9;

}


.logo__link {
  font-size: 21px;

}

.logo__text {
  font-size: 22px;
}

.logo:hover {
  transform: scale(1.2);
  color: #3596ED;
}

.logo:hover .logo__img {
  animation: identifier 3s infinite;
}

@keyframes identifier {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.header__info {
  text-align: right;
}

.header__info-text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.header__info-link {
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  color: #000;
}

.header__info-link:hover {
  transition: color 0.3s;
  color: #3596ED;
}